<h3>{{$ctrl.label}}</h3>
<style>
    th, td {
      padding-left:10px;
      padding-right:10px;
    }

</style>
<div class="">
  <table class="" style="table-layout:auto;" >
    <thead>
    <tr>
      <th>
          <input type="text" class="form-control input-sm" ng-model="$ctrl.newItem.name" placeholder="Name">
      </th>
      <th>
          <input type="number" class="form-control input-sm" ng-model="$ctrl.newItem.value" placeholder="Share">
      </th>
      <th>
          <md-button class="md-raised md-primary" ng-click="$ctrl.addItem()">ADD</md-button>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.entity track by $index">
      <td><input class="form-control input-sm" type="text" ng-model="item.name"></td>
      <td><input class="form-control input-sm" type="number" min=0 max=100 ng-model="item.value"></td>
      <td class="text-center">
        <md-button class="md-icon-button md-primary" ng-click="$ctrl.removeItem($index)" aria-label="regular-button"><span class="fa fa-remove"></span></md-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
