
<h3>{{$ctrl.label}}</h3>
<style>
    th, td {
      padding-left:10px;
      padding-right:10px;
    }
</style>
<div layout="column">
    <div flex>
        <div layout="row" layout-xs="column">
          <div layout="column" layout-padding flex-gt-sm="40">
              <input type="text" class="form-control input-sm" ng-model="$ctrl.newItem.name" placeholder="Name">
          </div>
          <div layout="column" layout-padding flex-gt-sm="20">
              <input step="0.01" type="number" class="form-control input-sm" placeholder="Previous Share"
              min="0" max="100" disabled>
          </div>
          <div layout="column" layout-padding flex-gt-sm="20">
              <input step="0.1" type="number" class="form-control input-sm" ng-model="$ctrl.newItem.value" placeholder="Share"
              min="0" max="100">
          </div>
          <div layout="column" flex-gt-sm="20">
              <md-button class="md-raised md-primary" ng-click="$ctrl.addItem();">ADD</md-button>
          </div>
        </div>
    </div>
    <div flex>
        <div layout="row" layout-xs="column" ng-repeat="item in $ctrl.entity track by $index">
          <div layout="column" layout-padding flex-gt-sm="40"><input class="form-control input-sm" type="text" ng-disabled="item.addInRound != $ctrl.indexRound" ng-model="item.name"></div>
          <div layout="column" layout-padding flex-gt-sm="20"><input class="form-control input-sm" type="number" ng-model="item.prevvalue" disabled placeholder="Previous Share"></div>
          <div layout="column" layout-padding flex-gt-sm="20"><input class="form-control input-sm" type="number" ng-model="item.value" ng-change="$ctrl.calculateRound(); $ctrl.changeTotal(item, {{item.value}})"></div>
          <div layout="column" flex-gt-sm="20" class="text-center">
            <md-button class="md-icon-button md-primary" ng-click="$ctrl.removeItem($index)" aria-label="regular-button"><span class="fa fa-remove"></span></md-button>
          </div>
        </div>
    </div>
</div>
