<h3>{{$ctrl.label}}</h3>
<style>
    th, td {
      padding-left:10px;
      padding-right:10px;
    }

</style>
<div class="">
  <table class="" style="table-layout:auto;" >
    <thead>
    <tr>
      <th>
          <input type="text"class="form-control input-sm" ng-model="$ctrl.newItem.name">
      </th>
      <th>
          <input type="number"class="form-control input-sm" ng-model="$ctrl.newItem.value">
      </th>
      <th>
          <md-button class="md-raised md-primary" ng-click="$ctrl.addItem()">ADD</md-button>

      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in $ctrl.entity[$ctrl.field] track by $index">
      <td><input  class="form-control input-sm" type="text" ng-model="item.name"></td>
      <td><input class="form-control input-sm" type="number" ng-model="item.value"></td>
      <td class="text-center">
        <md-button class="md-icon-button md-primary" ng-click="$ctrl.removeItem($index)"><span class="fa fa-remove"></span></md-button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
