<!DOCTYPE html>
<html lang="en">
<head>
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Bootstrap -->
<link href="stylesheets/bootstrap.min.css" rel="stylesheet">

<!-- Font-Awesome -->
<link href="stylesheets/font-awesome.min.css" rel="stylesheet">

<!-- jQuery UI CSS -->
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
<!-- Bootstrap styling for Typeahead -->
<link href="stylesheets/tokenfield-typeahead.css" type="text/css" rel="stylesheet">
<!-- Tokenfield CSS -->
<link href="stylesheets/bootstrap-tokenfield.css" type="text/css" rel="stylesheet">
<link href="stylesheets/styles.css" rel="stylesheet">
</head>
<body>

<div class = "container">


  <section>
    <div class="container">
      <div class="row">
        <div class="board">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="home">
			
              <h3 class="head text-center">Select specific criteria...</h3>

    <div class="row">
        <div class="form-group">
            <div class="searchable-container">
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Stock Options</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Seed Round</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Round A</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Round B</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Sell Shares</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="items col-xs-5 col-sm-5 col-md-3 col-lg-3">
                    <div class="info-block block-info clearfix">
                        <div data-toggle="buttons" class="btn-group bizmoduleselect">
                            <label class="btn btn-default">
                                <div class="bizcontent">
                                    <input type="checkbox" name="var_id[]" autocomplete="off" value="">
                                    <span class="glyphicon glyphicon-ok glyphicon-lg"></span>
                                    <h5>Stock Options</h5>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>

              <p class="text-center"> <a href="/filters" class="btn btn-success btn-outline-rounded blue"> Start using the tool <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a> </p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
$(function() {
    $('#search').on('keyup', function() {
        var pattern = $(this).val();
        $('.searchable-container .items').hide();
        $('.searchable-container .items').filter(function() {
            return $(this).text().match(new RegExp(pattern, 'i'));
        }).show();
    });
});

</script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script> 
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
<script type="text/javascript" src="javascripts/bootstrap-tokenfield.js" charset="UTF-8"></script> 
<script type="text/javascript" src="javascripts/scrollspy.js" charset="UTF-8"></script> 
<script type="text/javascript" src="javascripts/docs.min.js" charset="UTF-8"></script> 
<script src="javascripts/bootstrap.min.js"></script>
</body>
</html>
