<div layout="row" layout-align="center center">
    <section flex="40" layout="column" md-whiteframe layout-padding="20">
      <h2 md-display-2>
      Welcome to KNOWYOURSHARES
      <span class=""><i class="fa fa-thumbs-o-up"></i> </span>
    </h2>
      <p> See how your company status evolves. Play. Predict. Simply. </p>
      <md-input-container flex="50">
        <label>Did you have a code? </label>
        <input type="text" ng-model="code">
      </md-input-container>
      <p></p>
      <md-button class="md-raised md-primary" ng-click="getBusiness()">
        Start <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </md-button>
    </section>
</div>
