<div layout="row" layout-xs="column">
  <div layout="column" flex-gt-sm="33" layout-align="center center" ng-if="$ctrl.indexRound != 0">
    <h3>Pre money</h3>
      <md-input-container flex-gt-sm="50">
        <input disabled type="number" ng-model="$ctrl.round.preMoney" aria-label="regular-slider">
      </md-input-container>
  </div>

  <div layout="column" flex-gt-sm="33" layout-align="center center" ng-if="$ctrl.indexRound != 0">
    <h3>Money raised</h3>
      <md-input-container flex-gt-sm="50">
        <input type="number" ng-model="$ctrl.round.moneyRaised" aria-label="regular-slider">
      </md-input-container>
  </div>

  <div layout="column" flex-gt-sm="33" layout-align="center center" ng-if="$ctrl.indexRound != 0">
    <h3>Post money</h3>
      <md-input-container flex-gt-sm="50">
        <input disabled type="number" ng-model="$ctrl.round.postMoney" aria-label="regular-slider">
      </md-input-container>
  </div>
</div>
<div layout="row" layout-xs="column" layout-padding layout-margin layout-align="center center" ng-if="$ctrl.indexRound != 0">
  <h3 class="md-subhead"> In order to calculate a round, first input money you want to raise, then how many shares do you want to give to investors, finally press "Calculate Round" button.
  </h3>
</div>
<div layout="row" layout-xs="column" layout-padding layout-margin layout-align="center center" style="padding-left:20px" ng-hide="$ctrl.indexRound != 0">
  <h3 class="md-subhead"> Doesn't know how to share? Check <a target="_blank" href="http://foundrs.com">Founders</a>
  </h3>
</div>

<div layout="row" layout-xs="column" layout-align="space-between start" layout-padding>
  <div flex="40">
    <chart-shares entity="$ctrl.round"></chart-shares>
  </div>
  <div flex="40">
    <values-layout entity="$ctrl.round"></values-layout>
  </div>
</div>

<div layout="row" layout-align="center center">
  <md-button class="md-raised md-primary" ng-click="$ctrl.resetRound()" ng-if="$ctrl.indexRound != 0" aria-label="regular-button">Reset Values</md-button>
</div>

<div layout="row" layout-xs="column" md-content layout-padding>
  <span flex-gt-sm="15"></span>
  <input-shares round="$ctrl.round" index-round="$ctrl.indexRound" entity="$ctrl.round.founders" type="founder" ng-model="$ctrl.total" label="Founders" flex-gt-sm="50"></input-shares>
  <span flex-gt-sm="10"></span>
  <input-shares round="$ctrl.round" index-round="$ctrl.indexRound" entity="$ctrl.round.investors" type="investor" ng-model="$ctrl.total" label="Investors" flex-gt-sm="50"></input-shares>
  <span flex-gt-sm="15"></span>
</div>
