<h3 class="head text-center">{{$ctrl.round.name}}</h3>
<div layout="row">
  <div layout="column" flex="33" layout-align="center center">
    <h3>Pre money</h3>
    <md-slider-container>
      <md-slider flex="50" ng-model="$ctrl.round.preMoney" ng-init="$ctrl.round.preMoney = $ctrl.round.preMoney || 15000" ng-change="$ctrl.updateTotal()"
                min="0" max="20000000" step="1000" aria-label="regular-slider"></md-slider>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.preMoney" aria-label="regular-slider">
      </md-input-container>
    </md-slider-container>
  </div>

  <div layout="column" flex="33" layout-align="center center">
    <h3>Money raised</h3>
    <md-slider-container>
      <md-slider flex="50" ng-model="$ctrl.round.moneyRaised" ng-init="$ctrl.round.moneyRaised = $ctrl.round.moneyRaised || 15000" ng-change="$ctrl.updateTotal()"
                min="0" max="20000000" step="1000" aria-label="regular-slider"></md-slider>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.moneyRaised" aria-label="regular-slider">
      </md-input-container>
    </md-slider-container>
  </div>

  <div layout="column" flex="33" layout-align="center center">
    <h3>Post money</h3>
    <md-slider-container>
      <md-slider flex="50" ng-model="$ctrl.round.postMoney" ng-init="$ctrl.round.postMoney = $ctrl.round.postMoney || 15000" ng-change="$ctrl.modifyPostMoney()"
                min="0" max="20000000" step="1000" aria-label="regular-slider" ></md-slider>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.postMoney" aria-label="regular-slider">
      </md-input-container>
    </md-slider-container>
  </div>
</div>

<div layout="row" style="padding-left:20px" ng-if="$ctrl.index === 0">
  <h3 class="md-subhead"> Doesn't know how to share? Check <a target="_blank" href="http://foundrs.com">Founders</a>
  </h3>
</div>

<div layout="row" md-content layout-padding>
  <input-shares entity="$ctrl.round.founders" label="Founders" flex="33"></input-shares>
  <input-shares entity="$ctrl.round.investors" label="Investors" flex="33"></input-shares>
  <input-shares entity="$ctrl.round.employees" label="Employees" flex="33"></input-shares>
</div>

<div layout="row" layout-align="center center">
  <div>
    <chart-shares entity="$ctrl.round"></chart-shares>
  </div>
</div>
