<h3 class="head text-center">{{$ctrl.round.name}}</h3>
<div layout="row">
  <div layout="column" flex="33" layout-align="center center">
    <h3>Pre money</h3>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.preMoney" aria-label="regular-slider">
      </md-input-container>
  </div>

  <div layout="column" flex="33" layout-align="center center">
    <h3>Money raised</h3>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.moneyRaised" aria-label="regular-slider">
      </md-input-container>
  </div>

  <div layout="column" flex="33" layout-align="center center">
    <h3>Post money</h3>
      <md-input-container flex="50">
        <input type="number" ng-model="$ctrl.round.postMoney" aria-label="regular-slider">
      </md-input-container>
  </div>
</div>

<div layout="row" style="padding-left:20px" ng-if="$ctrl.index === 0">
  <h3 class="md-subhead"> Doesn't know how to share? Check <a target="_blank" href="http://foundrs.com">Founders</a>
  </h3>
</div>

<div layout="row" md-content layout-padding>
  <span flex="15"></span>
  <input-shares entity="$ctrl.round.founders" label="Founders" flex="30"></input-shares>
  <span flex="10"></span>
  <input-shares entity="$ctrl.round.investors" label="Investors" flex="30"></input-shares>
  <span flex="15"></span>
</div>

<div layout="row" layout-align="center center">
  <div>
    <chart-shares entity="$ctrl.round"></chart-shares>
  </div>
</div>
