<div class="tab-pane fade in active">
  <h3 class="head text-center">{{data.rounds[0].name}}</h3>
  <div layout="row">
    <div layout="column" flex="33" layout-align="center center">
      <h3> Pre money </h3>
      <md-slider-container>
        <md-slider flex="50" ng-model="data.rounds[0].preMoney" min="0" max="1000000" step="1000"
                   aria-label="regular-slider"></md-slider>
        <md-input-container flex="50">
          <input type="number" ng-model="data.rounds[0].preMoney" aria-label="regular-slider">
        </md-input-container>
      </md-slider-container>
    </div>

    <div layout="column" flex="33" layout-align="center center">
      <h3>Money raised</h3>
      <md-slider-container>
        <md-slider flex="50" ng-model="data.rounds[0].moneyRaised" min="0" max="1000000" step="1000"
                   aria-label="regular-slider"></md-slider>
        <md-input-container flex="50">
          <input type="number" ng-model="data.rounds[0].moneyRaised" aria-label="regular-slider">
        </md-input-container>
      </md-slider-container>
    </div>

    <div layout="column" flex="33" layout-align="center center">
      <h3>Post money </h3>
      <md-slider-container>
        <md-slider flex="50" ng-model="data.rounds[0].postMoney" min="0" max="1000000" step="1000"
                   aria-label="regular-slider"></md-slider>
        <md-input-container flex="50">
          <input type="number" ng-model="data.rounds[0].postMoney" aria-label="regular-slider">
        </md-input-container>
      </md-slider-container>
    </div>

  </div>
</div>
