<style>
[role="tabpanel"] {
    transition: none;
}
</style>

<div ng-if="!data.canEdit" style="background-color: rgba(0, 92, 174, 0.2); width:100%;height:100%; position:absolute; z-index: 100;">
</div>

<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <span flex="40"><a ui-sref="app.home">KNOWYOURSHARES</a></span>
    <div flex="60" layout="row" layout-align="start center">
      <md-button class="md-raised md-primary" ng-click="createRound()" ng-if="data.rounds.length" aria-label="regular-button">ADD NEW EVENT</md-button>
      <md-button ng-if="data.rounds.length" class="md-raised md-warn" ng-click="removeRound(selectedIndex)" aria-label="regular-button">REMOVE LAST EVENT</md-button>
    </div>
  </div>
</md-toolbar>

<div layout="row" layout-xs="column" flex-gt-sm="100" layout-align="center center">
  <div layout="column" flex="100" layout-align="center center">
  <br>
  <span layout="row" layout-xs="column" flex="100" ng-if="data._id.length">
        <h5 layout="row" layout-xs="column" ng-if="link.readOnly">{{readOnlyPath}}</h5>
        <h5 layout="row" layout-xs="column" ng-if="!link.readOnly">{{editPath}}</h5>
          <md-button class="md-icon-button md-accent" ng-click="copyToClipboard()">
            <md-icon md-font-icon="fa fa-clipboard" class="fa s64 md-primary md-hue-2"></md-icon>
          </md-button>
          <md-checkbox aria-label="Checkbox No Ink" ng-model="link.readOnly">
            Read only {{link.readOnly}}
          </md-checkbox>
  </span>
  <span ng-if="!data._id.length">Want a unique link? Save your current status</span>
  </div>
</div>

<div layout="row" layout-xs="column" layout-align="center center" layout-fill ng-cloack>
  <md-tabs ng-if="data.rounds.length" flex layout="column" layout-fill md-center-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
    <md-tab flex layout="column" ng-repeat="round in data.rounds track by $index" label="{{round.name}}">
      <md-tab-content layout="column" layout-fill ng-if="$index === selectedIndex">
        <input-round round="round" index="$index"></input-round>
      </md-tab-content>
      <md-button ng-click="save()" class="md-fab md-fab-bottom-right" aria-label="Comment">
        <md-icon> save </md-icon>
      </md-button>
    </md-tab>
  </md-tabs>
  <div ng-if="!data.rounds.length" layout="column" flex="100" layout-align="start center">
    <h1 flex-gt-sm="33">Let'us know your initial state to start!</h1>
    <md-button flex-gt-sm="33" class="md-raised md-primary" ng-click="createRound()" aria-label="regular-button">CREATE INITIAL STATE
    </md-button>
  </div>
</div>
