<!--<div class="container" flex layout-fill>-->
<!--<div class="row" layout-fill>-->
<!--<div class="board" layout-fill>-->
<!--<div class="board-inner" layout-fill>-->
<style>
[role="tabpanel"] {
    transition: none;
}
</style>

<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <span><a ui-sref="app.home">KNOWYOURSHARES</a></span>


    <span flex></span>

    <md-button class="md-raised md-primary" ng-click="createRound()" aria-label="regular-button">ADD A NEW MILESTONE
    </md-button>

    <span flex></span>

    <md-button ng-if="data.rounds.length" class="md-raised md-warn" ng-click="removeRound(selectedIndex)" aria-label="regular-button">REMOVE MILESTONE
    </md-button>

    <span flex></span>

    <md-button class="md-raised" ng-click="save()" aria-label="regular-button">SAVE
    </md-button>
  </div>
</md-toolbar>

<div layout="row" layout-align="center">
  <br>
  <span ng-if="data._id.length">
        <span ng-if="readOnly">{{readOnlyPath}}</span>
        <span ng-if="!readOnly">{{editPath}}</span>
          <md-button class="md-icon-button md-accent" aria-label="Favorite" ng-click="copyToClipboard()">
            <md-icon md-font-icon="fa fa-clipboard" class="fa s64 md-primary md-hue-2"></md-icon>
          </md-button>
          <md-checkbox aria-label="Checkbox No Ink" ng-model="readOnly">
            Read only
          </md-checkbox>
  </span>
  <span ng-if="!data._id.length">Want a unique link? Save your current status</span>
</div>

<div layout="row" layout-align="center center" layout-fill ng-cloack>
  <md-tabs ng-if="data.rounds.length" flex layout="column" layout-fill md-center-tabs md-selected="selectedIndex" md-border-bottom md-autoselect>
    <md-tab flex layout="column" ng-repeat="round in data.rounds track by $index" label="{{round.name}}">
      <md-tab-content layout="column" layout-fill ng-if="$index === selectedIndex">
        <input-round round="round" index="$index"></input-round>
      </md-tab-content>
    </md-tab>
  </md-tabs>
  <div ng-if="!data.rounds.length">
    <h1 class="md-display-3">Create a new milestone to start!</h1>
  </div>
</div>
